astroid==3.2.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
chardet==5.2.0
colorama==0.4.6
console-progressbar==1.1.2
html5lib==1.1
idna==3.7
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mechanize==0.4.10
numpy==2.0.1
pandas>=2.2.2
pylint==3.2.6
python-dateutil==2.9.0
pytz==2024.1
requests==2.32.4
six==1.16.0
soupsieve==2.5
typed-ast==1.5.5
urllib3==2.5.0
webencodings==0.5.1
wrapt==1.16.0
