astroid==2.15.6
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
chardet==5.2.0
colorama==0.4.6
console-progressbar==1.1.2
html5lib==1.1
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mechanize==0.4.8
numpy==1.25.2
pandas==2.0.3
pylint==2.17.5
python-dateutil==2.8.2
pytz==2019.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
typed-ast==1.5.5
urllib3==2.0.4
webencodings==0.5.1
wrapt==1.15.0
